*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    list-style:none;


}
.header{
position:fixed;
top: 0;
left: 0;
width: 100%;
padding: 35px 12%;
background-color: black;
backdrop-filter: blur(10px);
display:flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,0 0 50px orangered;
    transform:scale(1.1) ;
}
span{
    color: orangered;
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin:0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover{
    color:orangered;
    border-bottom: 3px solid transparent;
}
.contact{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color:white
}
.Home{
    width: 100%;
    max-height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12%;
    margin-top: 150px;
}
.Home-Content{
    max-width: 1500px;
}
.Home-Content h3{
    font-size: 30px;
}
.Home-Content h1{
    font-size: 45px;
    line-height: 1.2;
}
.Home-Content p{
    font-size: 20px;
    margin: 25px 0 30px; 
}
.btn-box{
    width: 340px;
    display:flex ;
    gap: 2em;
}
.button1{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.5s ease;  
}
.button1:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color:white; 
}
.button2{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.5s ease;  
}
.button2:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color:white; 
}
.img1 img{
border-radius: 50%;
width: 500px;
height: 500px;
}
.About_Me{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    background-color: black;
    gap: 10em;
}
.About_img img{
    position: relative;
    width: 300px;
    box-shadow: 0 0 25px orangered,0 0 25px orangered;
    border-radius: 50%;
    height: 400px;
}
.About_Content h2{
    text-align: left;
color: white;
    font-size: 40px;
}
.About_Content h3{
    font-size: 50px;
    color: orangered;
}
.About_Content p{
    color: white;
    font-size: 20px;
}
.row img{
    height: 400px;
    width: 250px;
}

.Article h1{
    text-align: center;
}

.Article h1:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}
.Article button{
margin-left: 80px;
}
.Article button:hover{
    background-color: orangered;
    box-shadow: 0 0 10px orangered;
    color:white;
}
.Media{
    background-color: black;
    color: white;
    width: 100%;
    height: 1200px;
}
.Media h1{
    text-align: center;
}

.Media h1:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    transform: scale(1.1);
}
.row1 iframe{
    background-color: black;
    height: 200px;
    width: 400px;
border-radius: 20px;
}
.row1 iframe:hover{
    box-shadow: 0 0 25px orangered,0 0 25px orangered;
}
.Contact1 h1{
    text-align: center;
}

.Contact1 h1:hover{
    background-color:orangered;
    box-shadow: 0 0 25px orangered;
    transform:scale(1.1);
}
.Contact1 col-md-4{
    margin-left: 100px;
    margin-right: 100px;
 display: flex; 
 justify-content: space-between;  
}
.contact_form form{
    text-align: center;
    max-width:500px;
    margin: 16px auto;
}
.contact_form form .input_box{
 display: flex;   
 justify-content: center;
 flex-wrap: wrap;
}

.contact_form form .input_box input,.contact_form form textarea {
width:100%;
padding:10px;
font-size: 20px;
border-radius: 10px;
margin:16px;
resize: none;
}

.Send {
    height: 50px;
    width:86px;
    background-color: black;
    color: white;
    font-size:20px;
}

.Send:hover{
    background-color: orangered;
    color: black;
}

.contact_form{
    text-align: center;
    margin-top: 5px;
 background-color: white; 
 color: black;
 font-size: 36px;
}

.contact_form iframe{
margin-top:20px;
}

.container1{
    display: flex;
    flex-wrap: wrap;
}